@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #c6c4c4;
  border-radius: 100px;
}
